html,body{margin:0;padding:0;height:100%;width:100%;}
a {
  color: #831010;
}
body {
  background-color: #849091;
  color: white;
  display: block;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0 auto;
}
footer {
	color: white;
	font-size: 10px;
	text-align: center;
}
h1 {
  text-align: center;
}
#hero {
  background: url('../img/wallpaper.jpg') no-repeat top center;
  -webkit-filter:blur(7px);
  filter:blur(7px);
  height: 50%;
  transform: scaleY(1.1);
  overflow: hidden;
}

#hero-inner {
  background-color: rgba(100,100,100,0.7);
  border-radius: 25px;
  font-size: 50px;
  font-weight: bold;
  left: 50%;
  line-height: 200px;
  margin-left: calc(25% * -1);
  height: 200px;
  position: absolute;
  text-align: center;
  top: 16%;
  width: 50%;
}

#content {
  margin-top: 50px;
  text-align: center;
}

#pokewatson img {
  display: block;
  height: 350px;
  margin: 0 auto;
  width: 350px;
}

#service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 60px 0;
  text-align: center;
  width: 100%;
}

#question-list {
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  width: 100%;
}

#question-list .poke, #question-list p {
  display: inline;
}

#question-list .poke {
  color: rgba(255,255,255,0.5);
}

#service-list div {
  width: 20%;
}

#service-list h1 {
  display: block;
  width: 100%;
}

#service-list p {
  font-size: 20px;
  font-weight: bold;
  margin: 3px;
}

#service-list img {
  height: 100px;
  width: 100px;
}

#twilio-chat {
  display: block;
  margin: 20px 0;
  width: 100%;
}
